ul{
    list-style-type: none;
    width: 30px;
}
#ul-2{
    display: none;
}
#li-2:hover #ul-2{
    display: block;
    position: relative;
    top: -20px;
    background-color: #FF0000;
}
#li-2:hover+li{
    display: none;
}