div {
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
}
.flex-container{
    display: flex;
}
.item-1{
    flex: none;
}
.item-2{
    flex: 0 1 auto;
}
.item-3{
    flex: 1 0 auto;
}
.item-4{
    flex: 1 1 auto;
}
